body {

    background-color: #7cc2ff;

}

h1 {

    color: brown;
    font-family: 'Source Sans Pro', sans-serif;

}

h2 {

    color: rgb(26, 41, 211);
    font-family: 'Roboto Condensed', sans-serif;

}

h3 {

    color: rgb(115, 229, 159);
    text-align: center;
    font-family: 'Merriweather', serif;

}

h4 {

    color: rgb(203, 101, 231);
    font-family: 'Comic Neue', serif;

}

h5 {

    color: rgb(255, 68, 0);
    font-family: 'Lora', serif;


}

header {

    background-color: white;
    justify-content: flex-end;
    align-items: center;
    padding: 5px;

}

header > h1 {

    color: blueviolet;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;

}

.credit1a {

    width: 500px;
    height: 500px;
    background-color: rgb(0, 54, 66);
    align-items: center;


}
